body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-display: block;
  font-size: max(0.75rem, 0.8101851852vw);
  background-color: #ecedef;
}

body {
  background-color: black;
}

.canvasContainer{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Transition duration and easing */
}

/* .worldSpaceClickableButton{
  position: absolute;
  background-color: white;
  white-space: nowrap;
  padding: 15px;
  color: black;
  border-radius: 30px;
}

.worldSpaceClickableButton:hover {
  background-color: grey;
  color:white;
} */

.UIClickableButton
{
  width: 5vw;
  height: 5vh;
  border-radius: 1vw;
  background-color: white;
}

.UIClickableButton:hover{
  background-color: grey;
}

#descriptionHolder{
  background-color: rgba(255, 255, 255, 255);
  position: fixed;
  bottom: 0;
  top: 0;
  z-index: 2;
  width: 30%;
  overflow: auto;
}

.slideInFromRight{
  animation-name: descriptionSlideInFromRight;
  animation-duration: 2s;
  opacity: 1;
  pointer-events: all;
  right: 0;
}

.slideOutFromRight{
  animation-name: descriptionSlideOutToRight;
  animation-duration: 2s;
  right: -30%;
  opacity: 0;
  pointer-events: none;
}

.PopUpText{
  position: fixed; 
  left: 35%; 
  top: 65%; 
  text-align: center; 
  font-size: 2.5vh; 
  word-wrap: break-word; 
  background-color: white; 
  padding: 1.5%; 
  border-radius: 60px; 
  visibility: hidden; 
  pointer-events: none; 
  width: 30%;
}

#VideoClose {
  position: absolute; /* Ensures close button stays within the panel */
  top: 5px; /* Adjust for desired gap from top */
  right: 100px; /* Adjust for desired gap from right */
  background: white; /* Remove default button background */
  border: none; /* Remove default button border */
  font-size: 2rem; /* Adjust font size for close button */
  cursor: pointer; /* Indicate clickable behavior */
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.VideoHolder {
  position: fixed;
  left: 3vw;
  top: 5vh;
  right: 3vw;
  bottom: 5vh;
  background-color: none;
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  /* Added overflow: hidden to prevent potential iframe overflow */
  overflow: hidden;
}

#ytVideo {
  width: 80%; /* Ensures iframe fills the remaining space */
  height: 100%; /* Ensures iframe fills the remaining space */ /* Adjust for desired gap (margin alternative below) */
  padding: 20px 10%;
}


@keyframes descriptionSlideInFromRight {
  from {right: -30%; opacity: 0;}
  to {right: 0; opacity: 1;}
}

@keyframes descriptionSlideOutToRight {
  from {right: 0; opacity: 1;}
  to {right: -30%; opacity: 0;}
}


@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../public/fonts/PlayfairDisplay-Italic.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../public/fonts/Poppins-Regular.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../public/fonts/Poppins-Medium.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../public/fonts/Poppins-SemiBold.woff") format("woff");
}



@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
.worldSpaceClickableButton{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    text-wrap: nowrap;
    background-color: white;
    border-radius: 20px;
    animation: GlowAnimation 1s infinite;
   
}
.worldSpaceClickableButton:hover{
    background: #03e9f4;
    color: #050801;
    animation: none;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

@keyframes GlowAnimation {
  from {
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 200px #03e9f4;}
  50% {
    box-shadow: 0 0 0 #03e9f4,
                0 0 0 #03e9f4,
                0 0 0 #03e9f4,
                0 0 0 #03e9f4;
  }
  to {
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
  }
}